//======Variables=========//
  $white: white;
  $light-gray: #f2f5f8;
  $middle-gray: #c6ccd2;
  $light-blue-light: #65abd0;
  $button-blue-light-hov: #4d90b4;
  $button-blue-dark: #3162a2;
  $primary: $button-blue-dark;
  $button-blue-dark-hover: #123561;
  $grey-divider-color: #dee2e7;
  $green: #24aa98;
  $green-dark: #1c8275;
  $dark: #383737;
  $red: #db7560;
  $red-dark: #d13b1d;
  $light-brown: #d9c26c;
  $dark-brown: #ad9539;
  $brown-showers: #865447;
  $yellow: #d9c26c;
