

$icon-arrow-down: "\EA01" !default;

$icon-dark-e-mail: "\EA02" !default;

$icon-dark-padlock: "\EA03" !default;

$icon-e-mail-envelope: "\EA04" !default;

$icon-fb: "\EA05" !default;

$icon-open: "\EA06" !default;

$icon-padlock: "\EA07" !default;

$icon-right: "\EA08" !default;

$icon-tw: "\EA09" !default;