

$icon-dark-e-mail: "\EA01" !default;

$icon-dark-padlock: "\EA02" !default;

$icon-e-mail-envelope: "\EA03" !default;

$icon-fb: "\EA04" !default;

$icon-forward: "\EA05" !default;

$icon-open: "\EA06" !default;

$icon-padlock: "\EA07" !default;

$icon-tw: "\EA08" !default;