@import 'base/normalize';
@import 'base/variables';
@import 'base/placeholders';
@import 'icons/iconfont__variables';
@import 'icons/iconfont__icons';

//Google fonts font-family: 'Cabin', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Cabin');

//white-space: nowrap

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  /*font-family: 'icomoon' !important;*/
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
         &--socialll {

              font-size: 1.4rem;
              padding-right: 1em;
              vertical-align: sub;


            }
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
            
           
        

}

    
//======================================//
html {
  font-size: 62.5%;
}
body {font-family: 'Cabin', sans-serif;}



.push-right {
  float: right;
}

.push-left {
  float: left;
}
.form__method {
  width: 35%;
}

.form__address {
  width: 50%;
}

.container {
  width: 94rem;
  margin: 5rem auto;
}

.textalign-right {
  text-align: right;
}

//===============First section================//


//===========First section__left-form=========//

.section1 {
  display: flex;
  justify-content: space-between;
}

.form-wrapper-1 {
  @extend %form-style;
  width: 49%;
 } 

.form__form-header {
  position: relative;
} 
.form-header__inf, %form-header__inf {
  @extend %link-sm-styles;
  display: block;
  position: absolute;
  right: 1.7rem;
  top: 2rem;
  color: $white;      
          &:hover {
            color:  $button-blue-light-hov;
          }
}

.form-header__sign {
  @extend %bg-img-centering;
  font-size: 3.2rem;
  font-weight: 600;
  padding: 6rem 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-top-right-radius:.5rem;
  border-top-left-radius:.5rem;
  text-align: center;
  color: $white;
}

.form-header__sign--up{
  background-image: url("../img/form-bg1.jpg"); 
}

.form-header__sign--in {
background-image: url("../img/form-bg2.jpg"); 
}
 

.form__form-box {
  padding: 2rem 3rem;

}

.placeholder {
  background-repeat: no-repeat;
  font-size: 1.6rem;
  position: relative;       

}


.input {
    color: $middle-gray;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $middle-gray;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: $middle-gray;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: $middle-gray;
            }
            &:placeholder { /* Firefox 18- */
                color: $middle-gray;
            }


                  &:focus {
                    color: $dark;
                     font-weight: 800;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $dark;
                font-weight: 800;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: $dark;
                font-weight: 800;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: $dark;
                font-weight: 800;
            }
            &:placeholder { /* Firefox 18- */
                color: $dark;
                font-weight: 800;
            }
                  }
}





.icon--e-mail-envelope, .icon--dark-padlock {
  @extend %absolute-vert-center;  
  left: 1.5em;
}

.input {
  @extend %border-none;
  @extend %full-width;
  padding: 0.7em 1em 0.7em 3em;
  background: transparent;
       &--left {
        padding-left: 0.75em;
       } 

       &:focus + .icon {
       color: $dark;
       } 
}


.form__input, %form-internal__input {
  @extend %brad05rem; 
  @extend %border2px;
  @extend %inactive-placeholder;
 
            &--top-indent {
            @extend %form-internal__input;
            margin-top: 3rem;
           }
}

.item__value-input {
  @extend %brad05rem; 
  @extend %border2px;
  @extend %inactive-placeholder;
  @extend %flex-center-alignement;
  position: relative;
  
}


.form__text, %from__text {
   @extend %transition;
   @extend %link-sm-styles;
   display: block;
   color: $middle-gray;
   cursor: initial;
   letter-spacing: 0.05em;
            &--center {
            text-align: center;
            margin-top: 2.1rem;

            }

            &--link{
              font-weight: 600;
              display: inline;
                    &:hover {
                    color:  $button-blue-light-hov; 
                    }       
            }
}



.btn {
  @extend %btn-link-styles;
  @extend %form-btn-sz-style;
  @extend %full-width;
  border: none;
        &--lg {
          font-size: 1.8rem;
          margin: 1.5em auto 0 auto;
        }


        &--md {
          font-size: 1.6rem;
          padding: 1em 2em;
          margin-top: 2rem;
        }

        &--socialll {
          font-size: 1.4rem;
          width: 47%;
             
        }

        &--quantity {
          @extend %brad05rem;
          @extend %border-none;
          width: 1.5em;
          height: 1.5em;
          margin: 0 0.5em;
          color: #fff;
        }

        &--primary {
          background-color: $primary;
              &:hover {
              background-color: #1d4a84;
              }
        }

        &--info {
          background-color: $light-blue-light;
              &:hover {
              background-color: $button-blue-light-hov;
              }
        }

        &--success {
            background-color: $green;
            &:hover {
            background-color:  $green-dark;
            }
        }

        &--danger {
          background-color: $red;
          &:hover {
            background-color: $red-dark;
          }
        }
}



.form-internal__divider-box {
  margin: 2.5rem auto;
}



.divider {
  @extend %full-width;
  position: relative;
  border: 0;
  text-align: center;
  margin: 0;
  color: $grey-divider-color;
  height: 1.8rem;
  font-size: 1.5rem;
        

        &:before {
            @extend %absolute-vert-center; 
            @extend %full-width; 
            content:    '';
            background: $grey-divider-color;
            left:       0;
            height:     0.15em;
          }

          &:after {
            content:    attr(data-content);
            position:   relative;
            display:    inline-block;
            padding:    0 1em;
            background: $light-gray;
          }
      

} 





.form-internal__social-wrap {
  @extend %flex-center-alignement;
  
 }



//===========Checkbox=========//

.form-internal__checkbox-wrap, %width-left-start {
 
  text-align: left;
  margin-top: 2.1em;
  margin-bottom: 1.5em;
  position: relative;
  left:-1.5rem;
}

.checkbox__input {
  opacity: 0;
}
.checkbox__label {
  @extend %link-sm-styles;
  display: inline-block;
  position: relative;
  left: 1.5em;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: $middle-gray;
}

.checkbox__label--padlef1em {
  padding-left: 1em;
}

.checkbox__label::before, %checkbox-box {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $green;
    border-radius: 0.5rem;
    left: -2rem;
    top: 0.1rem;
}

 .checkbox__input:checked + .checkbox__label::before {
    content:      "✔";
    font-size:      1.2rem;
    font-weight: bold;
    color:        #fff;
    text-align:     center;
}


//===============Second section================//



.form-wrapper--sm {
  width: 32%;
       &-betw {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       } 
  
}

.form-internal-wrap {
   @extend %flex-center-alignement;
  
}


.form__heading, %form__heading {
  margin: 0;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;

            &--top-indnt {
              padding-top: 2em;
            }
 
}

.form__heading-supp-link {
  @extend %link-sm-styles;
  display: inline-block;
  color: $light-blue-light;
      &:hover {
      color: $button-blue-light-hov;
      }
      &--arrow {
        position: relative;
        left: 5rem;
      
        &:before {
        font-family: "social";
        content:'\EA01';
        position: absolute;
        top: 50%;
        transform:matrix(0.00,1.00,-1.00,0.00,0,-7);
        left: -2rem;
        }
      }
}

  

.subscribing-form {
  @extend %brad05rem; 
  margin-top: 2rem;
  background-color: $light-gray;
  
 }


.subform-internal-wrap {
  @extend %flex-center-alignement;
  margin: 1.5rem 0;
  overflow: hidden;

}

.authoris-support--amandments {
  margin: 0;
  
}

.icon--open {
  @extend %border-none;
  @extend %brad05rem;
  @extend %transition; 
  font-size: 1.4rem;
  padding: 1.1em 1.5em;
  margin-left: 1rem;
  -webkit-text-fill-color: $white;
  background-color: $light-brown;
        &:hover {
        background-color: $dark-brown;
      }
     
}

//===============Third section================//

.contact-wrapper {
  @extend %flex-just-between;
  
}

.contact {
  @extend %form-style;
  width: 66%;
}

.contact-sm {
  @extend %form-style;
  width: 32%;
}

.contact-form__int-wrap {
  display: flex;
  justify-content: space-between;
}

.contact__half {
  width: 45%;
}

.item-name {
  font-size: 1.6rem;
  color: $middle-gray;
  display: block;
  margin-top: 1em;

        &--left {
          text-align: left;
        }
}


.button-select, %button-select {
  @extend %full-width;
  height: 100%;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  padding: 0.7em;
  color: $white;
  cursor: pointer;
  
  
}
.select-box, %select-box {
  @extend %select-def-arrow-removal;  
  @extend %border-none;
  @extend %button-select;
  background: $light-blue-light;
  background-image: url(../icons/arrow-down.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 90% 50%;
  

  
}



.textarea{
  @extend %from__text;
  @extend %border2px;
  @extend %full-width;
  background: $white;
  padding: 0.8em;
}

.flex-center-alignement {
  @extend %flex-center-alignement;
}


.flex-vert-align {
  @extend %flex-vert-align;
}



//===============Fourth section================//

.card__table {
  @extend %full-width;

}



.text-align-cent {
  text-align: center;
}

.table-img {
  padding: {
    top: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
  }
   
}

.table-item {
  @extend %flex-hor-align; 
  
  
}

.table-item--heading {
  text-align: left;
  padding-left: 7em;
}

.table-row {
  border-bottom: 2px solid $grey-divider-color;
      &__heading {
      font-size: 1.4rem;
      padding-top: 1em;
      padding-bottom: 1em;
      color:  $middle-gray;
      }
}

.td-text {
  font-size: 1.6rem;
  font-weight: 600;
}

.color-pic-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.item__set-radio {
  @extend %grey1.4;
  display: flex;
  align-items: center;
}

.radio-wrap {
  padding-top: 5px;
  padding-left: 10px;
  display: flex;
}



//===============Radio button================//

input[type="radio"] {
  margin-right: 1rem;
  outline: none;
 
 
}

input[type='radio']:after {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 1.5rem;
        top: -0.2px;
        left: -1px;
        position: relative;
        content: '';
        display: inline-block;
        visibility: visible;
        
    }


.yellow input[type='radio']:after {
  background: $yellow;
}  

.blue input[type='radio']:after {
  background: $light-blue-light;
}  

.green input[type='radio']:after {
  background: $green;
} 

.red input[type='radio']:after {
  background: $red;
}

.black input[type='radio']:after {
  background: $dark;
} 

.brown input[type='radio']:after {
  background: $brown-showers;
} 

input[type='radio']:checked:after {
  content:      "✔";
  font-size:      1.2rem;
  font-weight: bold;
  color:        #fff;
  text-align:     center;
}

//===============End Radio button================// 

.size-item {
  margin-left: 1rem;
}

.size-picker {
  @extend %brad05rem;
  @extend %border-none;
  font-size: 1.2rem;
  margin-left: 1em;
  color: $white;
  background: $middle-gray;
}


.card__bottom {
  @extend %flex-center-alignement;
  margin-top: 3rem;
}



.arrow-right:after {
   content: "\EA08";
   font-family: "social";
   padding-left: 1em;
   font-size: 0.9rem;
}



//===============Fifth section================//




.select-item {
  @extend %select-box;
  background: $light-brown;
  background-image: url(../icons/arrow-down.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 90% 50%;
 
}

.box__int-wrap {
  width: 30%;
}





//===============Sixth section================//

.paiment-subtotal {
  font-size: 2.4rem;
  font-weight: 600;
  position: absolute;
  top: 0;
  right:0;
  transform: translateY(-200%)
}

.contact__item--rel {
  position: relative;
}


.item__value {
  margin-top: 1em;
}

.item__value--sm {
  width: 35%;
}

.item__data-box {
  width: 45%;
}

.card__box {
  margin-right: 1rem;
}

