@import 'base/normalize';
@import 'icons/iconfont__variables';
@import 'icons/iconfont__icons';
//Google fonts font-family: 'Cabin', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Cabin');




//======Variables=========//
  $white: white;
  $light-gray: #f2f5f8;
  $middle-gray: #c6ccd2;
  $light-blue-light: #65abd0;
  $button-blue-light-hov: #4d90b4;
  $button-blue-dark: #3162a2;
  $button-blue-dark-hover: #123561;
  $grey-divider-color: #dee2e7;
  $green: #24aa98;
  $green-dark: #1c8275;
  $dark: #383737;
  $red: #db7560;
  $red-dark: #d13b1d;

  
//========Mixines=========//


//======Placeholders=========//

%bg-img-centering {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; 
}

%form-header__sign-styles {
  font-weight: 600;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

%form-style {
  border-radius: 0.5rem;
  background: $light-gray;
}


%border2px {
    border: 2px solid $middle-gray;
}

%form-item-sz-style {
  border-radius: 0.5rem;
  height: 4.5rem;
}

%form-btn-sz-style {
  border-radius: 0.5rem;
  padding: 0.7em 0;
  transition: all 0.2s;
}

%placeholder {
  background-repeat: no-repeat;
  background-position: 1em 50%;
  padding-left: 3em;
  font-size: 1.4em;
}

%inactive-placeholder {
    background: $white;
    color: $middle-gray;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                background: $white;
                color: $middle-gray;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                background: $white;
                color: $middle-gray;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                background: $white;
                color: $middle-gray;
            }
            &:placeholder { /* Firefox 18- */
                background: $white;
                color: $middle-gray;
            }
}

%active-placeholder {
     color: $dark;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $dark;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: $dark;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: $dark;
            }
            &:placeholder { /* Firefox 18- */
                color: $dark;
            }
}

%link-sm-styles {
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer;
  
}

%btn-link-styles {
  text-decoration: none;
  display: block;
  color: $white;
  
}

%flex-just-center {
  display: flex;
  justify-content: center;
}

%width-center {
  width: 80%;
  margin: 0 auto;
}

%flex-just-between {
  display: flex;
  justify-content: space-between;
}

%flex-center-alignement {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%checkbox-box {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $green;
  border-radius: 0.5rem;
  left: -2rem;
  top: 0.1rem;
}

%checkbox-content {
  content:      "✓";
  font-size:      1.2rem;
  font-weight: bold;
  color:        #fff;
  text-align:     center;
}


%small-form-appear {
  border-radius: 0.5rem;
  background-color: $light-gray;
  text-align: center;
}




//==============================//

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  /*font-family: 'icomoon' !important;*/
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 
//======================================//
html {
  font-size: 62.5%;
}
 * {
  font-family: 'Cabin', sans-serif;
 }


.container {
  width: 96rem;
  margin: 5rem auto;
}

//===============First section================//


//===========First section__left-form=========//

.section1 {
  display: flex;
  justify-content: space-between;
}

.section1__form-wrapper {
  @extend %form-style;
  width: 45%;
 } 

.form__form-header {
  position: relative;
} 
.form-header__inf, %form-header__inf {
  @extend %link-sm-styles;
  display: block;
  position: absolute;
  right: 1.7rem;
  top: 2rem;
  color: $white;      
          &:hover {
            color:  $button-blue-light-hov;
          }
}

.form-header__sign {
  @extend %bg-img-centering;
  @extend %form-header__sign-styles;
  border-top-right-radius:.5rem;
  border-top-left-radius:.5rem;
  text-align: center;
  padding: 6rem 0;
  color: $white;
}

.form-header__sign--left{
  background-image: url("../img/form-bg1.jpg"); 
}


.form__form-internal {
  text-align: center;
}

.placeholder {
  background-repeat: no-repeat;
  background-position: 1em 50%;
  padding-left: 3em;
  font-size: 1.4em;
}

.placeholder--inactive {
    color: $middle-gray;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $middle-gray;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: $middle-gray;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: $middle-gray;
            }
            &:placeholder { /* Firefox 18- */
                color: $middle-gray;
            }
}

.placeholder--active {
     color: $dark;
     font-weight: 800;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $dark;
                font-weight: 800;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: $dark;
                font-weight: 800;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: $dark;
                font-weight: 800;
            }
            &:placeholder { /* Firefox 18- */
                color: $dark;
                font-weight: 800;
            }
}


.form-internal__input {

  @extend %form-item-sz-style;
  @extend %border2px;
  @extend %inactive-placeholder;
  @extend %width-center;
  @extend %flex-center-alignement;
  margin-top: 3rem;

 }


.input__email {
  background-image: url("../icons/e-mail-envelope.svg");
}

.input__email--active {
  background-image: url("../icons/dark-e-mail.svg");
}

.input__password {
   background-image: url("../icons/padlock.svg");
}

.input__password--active {
   background-image: url("../icons/dark-padlock.svg");
}


.form-internal__authoris-support, %form-internal__authoris-support {
   @extend %link-sm-styles;
   display: block;
   font-weight: 500;
   margin-top: 1.5em;
   color: $middle-gray;
   cursor: initial;

}
.form-internal__authoris-support--link {
   @extend %link-sm-styles;
   @extend %width-center;
   @extend %form-internal__authoris-support;
       &:hover {
          color:  $button-blue-light-hov;
        }
}

.form-internal__btn {
  @extend %btn-link-styles;
  @extend %form-btn-sz-style;
  font-size: 1.8rem;
  margin: 1.5em auto 0 auto;
  width: 80%;
     
}
.form-internal__btn--blue {
  background-color: $light-blue-light;
   &:hover {
            background-color: $button-blue-light-hov;
          }
}
.form-internal__btn--red {
  background-color: $red;
   &:hover {
            background-color: $red-dark;
          }
}

.form-internal__divider {
  @extend %flex-center-alignement;
  width:  80%;
  margin: 2.5rem auto;
}

.divider-p {
  margin: (0 1.5em);
  color: $grey-divider-color;
}
.divider {
  width: 45%;
  height: 0.2em;
  border:none;
  background-color: $grey-divider-color;
}

.form-internal__social-wrap {
  @extend %flex-center-alignement;
  @extend %width-center;
 }

.form-internal__social {
  @extend %btn-link-styles;
  @extend %form-btn-sz-style;
  font-size: 1.6rem;
  width: 47%;
  margin-bottom: 2.5em;
  background-repeat: no-repeat;//these properties for small Facebook and Twitter buttons
  background-position: 1.5em 50%;//these properties for small Facebook and Twitter buttons
}

.form-internal__social--small {
  font-size: 1.4rem;
  padding-left: 1em;
}

.form-internal__social--small-fb {
  background-image: url(../icons/fb.svg);
}

.form-internal__social--small-tw {
  background-image: url(../icons/tw.svg);
}

.form-internal__social--fb {
   background-color:  $button-blue-dark;
      &:hover{
        background-color:  $button-blue-dark-hover;
      }
}

.form-internal__social--tw {
   background-color:  $light-blue-light;
       &:hover{
        background-color:  $button-blue-light-hov;
      }
}


//===========First section__right-form=========//
.form-header__sign--right {
background-image: url("../img/form-bg2.jpg"); 
}

.form-internal__btn--green {
  background-color: $green;
   &:hover {
            background-color:  $green-dark;
          }
}


//===========Checkbox=========//

.form-internal__checkbox-wrap, %width-left-start {
  @extend %width-center;
  text-align: left;
}

.checkbox__input {
  opacity: 0;
}
.checkbox__label {
  @extend %link-sm-styles;
  display: inline-block;
  position: relative;
  left: 0.5em;
  top: 1.5em;
  font-weight: 600;
  margin-bottom:1.5em;
  letter-spacing: 0.05em;
  color: $middle-gray;
       &:hover {
            color:  $button-blue-light-hov;
          }

}

.checkbox__label::before, %checkbox-box {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $green;
    border-radius: 0.5rem;
    left: -2rem;
    top: 0.1rem;
}

 .checkbox__input:checked + .checkbox__label::before, %checkbox-content {
    content:      "✓";
    font-size:      1.2rem;
    font-weight: bold;
    color:        #fff;
    text-align:     center;
}


//===============Second section================//

.section2 {
  @extend %flex-just-between;
}

.section2__form-wrapper {
  width: 32%;
  @extend %small-form-appear;
  
}

.form-internal-wrap {
   @extend %flex-center-alignement;
   @extend %width-center;
}


.form__heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  margin-left: -0.5em;
}

.form__heading-supp-link {
  @extend %link-sm-styles;
  display: inline-block;
  margin-right: -0.5em;
  color: $light-blue-light;
      &:hover {
      color: $button-blue-light-hov;
      }
}

.small-forms-wrap {
  width: 32%;
}

.small-form {
  @extend %small-form-appear;
  margin-bottom: 1rem;
  overflow: hidden;
}

.martop1 {
  margin-top: 1rem;
}

.marbot2 {
  margin-bottom: 2rem;
}
.marleft0 {
  margin-left: 0;
}
.input {
  border:none;
  outline: none;
  background: transparent;
    &:focus {
      border: none;
    } 
}
.subscribing-form {
  border-radius: 0.5rem;
  background-color: $light-gray;
 
}

.subscribing-form-wrapper {
   @extend %width-left-start;
}

.subform-internal-wrap {
  @extend %flex-center-alignement;
}
//%flex-just-between